/* css styles */
/* 🌿 Navbar - cor personalizada */
.navbar {
  background-color: black !important; /* verde HerbSpectra */
}

/* Texto do menu */
.navbar a,
.navbar-brand {
  color: white !important;
  text-align: center;
  line-height: 1.4;
  white-space: normal;
  max-width: 250px;
}

/* Hover (efeito ao passar o mouse) */
.navbar a:hover {
  color: #A5D6A7 !important;
}

/* 🌿 Aumentar altura da barra */
.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-brand img {
  max-height: 120px;
  max-width: 120px;
}


h1 {
  color: #1B5E20;
  font-weight: 600;
}

h2, h3 {
  color: #1B5E20;
  font-weight: 500;
}


/* 🌿 Fundo dos menus dropdown */
.dropdown-menu {
  background-color: black;
  border: white;
}

/* 🌿 Itens do menu */
.dropdown-item {
  color: white;
}

/* 🌿 Hover dos itens */
.dropdown-item:hover {
  background-color: #145A1A; /* verde um pouco mais escuro */
  color: white;
}

.dropdown-menu a {
  color: white !important;
}


/* remove espaço entre navbar e conteúdo */
main {
  padding-top: 0 !important;
}

/* HERO */
.hero {
  position: relative;

  /* faz grudar na navbar e ocupar tudo */
  width: 104.2vw;
  margin-left: calc(-50vw + 50%);

  height: 80vh;

  background-image: url("/assets/images/amazonia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay escuro */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* remove espaço entre navbar e conteúdo */
main {
  padding-top: 0 !important;
}

main > *:first-child {
  margin-top: 0 !important;
}

/* texto */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  text-align: center;
  max-width: 800px;
}

/* título */
.hero-text h1 {
  font-size: 3rem;
  font-weight: 600;
}

/* subtítulo */
.hero-text p {
  font-size: 4rem;
  margin-top: 10px;
}